<div class="page">    
    <app-nav-bar></app-nav-bar>

    <div class="contact-container">
    <div class="contact-card">
        <div class="contact-header">
        <h1>{{ "TITLECONTACT" | translate}}</h1>
        </div>

        <form [formGroup]="formulario" (ngSubmit)="enviar()" class="contact-form">

        <div class="form-row">
            <mat-form-field appearance="outline">
            <mat-label>{{ "NAME" | translate}}</mat-label>
            <input matInput formControlName="nombre">

            @if (formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched) {
                <mat-error>{{ "ERRORNAME" | translate}}</mat-error>
            }

            @if (formulario.get('nombre')?.hasError('minlength') && formulario.get('nombre')?.touched) {
                <mat-error>{{ "REQUESTNAME" | translate}}</mat-error>
            }
            </mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>{{ "SURNAMES" | translate}}</mat-label>
            <input matInput formControlName="apellidos">

            @if (formulario.get('apellidos')?.hasError('required') && formulario.get('apellidos')?.touched) {
                <mat-error>{{ "REQUESTSURNAME" | translate}}</mat-error>
            }

            @if (formulario.get('apellidos')?.hasError('minlength') && formulario.get('apellidos')?.touched) {
                <mat-error>{{ "ERRORSURNAME" | translate}}</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="form-row single">
            <mat-form-field appearance="outline">
            <mat-label>{{ "EMAILUSER" | translate}}</mat-label>
            <input matInput type="email" formControlName="email">

            @if (formulario.get('email')?.hasError('required') && formulario.get('email')?.touched) {
                <mat-error>{{"REQUESTEMAIL" | translate}}</mat-error>
            }

            @if (formulario.get('email')?.hasError('email') && formulario.get('email')?.touched) {
                <mat-error>{{ "ERROREMAIL" | translate}}</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="button-row">
            <button mat-raised-button color="primary" type="submit">
            Enviar
            </button>
        </div>

        @if (mensaje) {
            <p class="mensaje">{{ mensaje | translate}}</p>
        }

        </form>
    </div>
    </div>
    <app-footer></app-footer>
</div>