<app-spinner></app-spinner>
<div class="page">
    <app-nav-bar></app-nav-bar>
    <main>
        <div class="tarjetaInfo">
            <div class="tituloInfo">
                <h1>{{ "INFOCONTACT" | translate}}</h1>
            </div>
            <hr>
            <hr>
            <div class="informacion">
                <div>
                    <h1>{{ "USER" | translate}}</h1>
                </div>
                        <app-user-list></app-user-list>
                </div>
        </div>
    </main>
</div>