<app-nav-bar></app-nav-bar>

<div class="login-page">
  <div class="login-container">
    <mat-card class="login-card">

      <mat-card-header>
        <div class="login-title-block">
          <mat-card-title class="login-title">{{ 'LOGIN' | translate }}</mat-card-title>
          <mat-card-subtitle>
            {{ 'ACCESSTOCONTINUE' | translate }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <form class="login-form" (ngSubmit)="login()">
          <div class="login-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{'USERNAME' | translate}}</mat-label>
              <input matInput type="usuario" placeholder="{{ 'USERNAME' | translate }}" [(ngModel)]="usuario" name="usuario" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div class="login-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{'PASSWORD' | translate}}</mat-label>
              <input matInput type="password" placeholder="{{ 'PASSWORD' | translate }}" [(ngModel)]="password"
                name="password" />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>
          <div class="login-button-wrap">
            <div class="login-options">
              <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe">{{ 'REMEMBERME' | translate }}</mat-checkbox>
              <a href="#" class="forgot-link">{{ 'FORGOTPASSWORD' | translate }}</a>
            </div>
            <button mat-raised-button class="login-button" type="submit">{{ 'ACCESS' | translate }}</button>
          </div>
        </form>
      </mat-card-content>
      <div class="crear-cuenta">
        <mat-card-actions class="register-box">
          <span>{{ 'ASKACCOUNT' | translate }}</span>
          <a href="#">{{ 'REGISTER' | translate }}</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>